# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/next/node_modules
/next/.pnp
/next.pnp.js

# next.js
/next/.next/
/next/out/

# production
/next/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# Flask server (parser)
/parser/venv/

/parser/*.pyc
/parser/__pycache__/

/parser/instance/

/parser/.pytest_cache/
/parser/.coverage
/parser/htmlcov/

/parser/dist/
/parser/build/
*.egg-info/

.nx/installation
.nx/cache