@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100%;

  /* Add margin left to match scrollbar width to fix jumping scrollbar */
  /* https://aykevl.nl/2014/09/fix-jumping-scrollbar */
  overflow-y: auto;
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

#__next {
  min-height: 100%;
}
